.navigation {
  position: relative;
  display: flex;
  flex-direction: row;

  @media #{$desktop} {
    align-items: center;
    justify-content: space-between;
  }

  @media #{$tablet} {
    // padding: 2rem 0rem 1rem;
    flex-direction: column;
  }

  .logo {
    padding: 2rem 0rem 1rem;
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
    cursor: pointer;
    img {
      width: 231px;
    }
  }
  .hamburger {
    @media #{$desktop} {
      display: none;
    }
    background-color: transparent;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    position: fixed;
    background-color: white;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 35px;
    top: 0.5rem;
    right: 2rem;
    z-index: 40;
    .line {
      width: 30px;
      height: 3px;
      // border-radius: 3px;
      // background-color: #ecf0f1;
      background-color: black;
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
    }
  }
  #hamburger-1.is-active .line {
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      -webkit-transform: translateY(11px) rotate(45deg);
      -ms-transform: translateY(11px) rotate(45deg);
      -o-transform: translateY(11px) rotate(45deg);
      transform: translateY(11px) rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: translateY(-11px) rotate(-45deg);
      -ms-transform: translateY(-11px) rotate(-45deg);
      -o-transform: translateY(-11px) rotate(-45deg);
      transform: translateY(-11px) rotate(-45deg);
    }
  }
  .menuContainer {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    @media #{$desktop} {
      // margin: 0 2rem;
      opacity: 1;
      visibility: visible;
    }
    @media #{$tablet} {
      position: absolute;
      width: 100vw;
      height: 100vh;
      // overflow: hidden;
      overflow-y: scroll;
      background-color: white;
      top: 0;
    }

    .hamLogo {
      @media #{$desktop} {
        display: none;
      }
    }

    ul {
      // border: 1px solid purple;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      @media #{$tablet} {
        padding-bottom: 1rem;
        flex-direction: column;
        padding: 2rem;
        height: 70%;
      }
      li {
        list-style: none;
        // border: 1px solid;
        margin-left: 48px;
        cursor: pointer;
        font-family: "NotoSans";
        font-weight: 500;
        transition: all 0.5s;

        a {
          color: black;
          text-decoration: none;
        }

        @media #{$desktop} {
          align-self: center;
          font-size: 1rem;
        }
        @media #{$tablet} {
          font-size: 2rem;
          margin: 0.5rem 1rem;
        }
        &:hover {
          margin-top: -7px;
          padding-bottom: 7px;
          a {
            color: #585858;
            margin-top: -10px;
          }
        }
      }
      .navButton {
        border: 1px solid black;
        // height: 50px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        padding: 8px 50px;
        margin-left: 120px;
        margin-right: 1.5rem;

        @media #{$tablet} {
          margin-top: auto;
          margin-left: 48px;
        }
        &:hover {
          background-color: black;
          color: white;
          margin-top: 0;
        }
      }
      .myauctions {
        display: flex;
        align-items: center;
        font-family: "NotoSans";
        font-weight: 400;
        font-size: 20px;

        div {
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          background-color: black;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          color: #666;
          margin: 0 1rem 0 0.6rem;
          font-size: 16px;
        }
      }
      .loggedindetails {
        margin-top: auto;
        padding: 11px;
        padding-right: 20px;
        margin-right: 20px;
        width: fit-content;
        border: 1px solid #e8e8e8;
        border-radius: 40px;
        display: flex;
        align-items: center;
        box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
        font-family: "SongMyung";
        font-weight: 400;
        font-size: 20px;
        // position: relative;
        // border: 1px solid red;
        @media #{$desktop} {
          height: 50px;
        }
        .avatar {
          background-color: #509bf9;
          width: 2rem;
          height: 2rem;
          border-radius: 1rem;
          margin-right: 1rem;
        }
        .loggedindetails-dropdown {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          background-color: #f9f9f9;
          border-radius: 10px;
          // width: 200px;
          // height: 200px;
          transition: 0.6s all;
          font-family: "NotoSans";
          font-size: 1rem;
          width: fit-content;
          @media #{$desktop} {
            top: 76px;
            right: 18px;
          }

          @media #{$tablet} {
            // top: 0px;
            bottom: 77px;
            left: 120px;
          }

          .li-dropdown-items {
            display: flex;
            align-items: center;
            padding: 16px 22px;
            border-radius: 10px;
            width: 300px;
            font-weight: 500;

            svg,
            img {
              margin-right: 15px;
            }
            .dd-right-arrow {
              margin-left: auto;
              margin-right: 0rem;
            }

            &:hover {
              background-color: white;
              border: 1px solid #e5e5e5;
            }
          }
          .linebreak {
            // border-bottom: 1px solid black;
            border-bottom: 1px solid #e5e5e5;
            width: 80%;
            height: 1px;
            margin: 0 auto;
          }
        }
        &:hover {
          .loggedindetails-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .isOpaque {
    @media #{$tablet} {
      opacity: 1;
      visibility: visible;
      position: fixed;
      z-index: 20;
    }
  }
}
